<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NEWS</title>
    <link rel="stylesheet" href="/stylus/news.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
</head>

<body>
    <%- include('nav') %>
    <% switch (view) {
        case "signin" : %>
    <%- include('signin') %>
    <% break; 
        case "signup" : %>
    <%- include('signup') %>
    <% break;
        case "chgpwd" : %>
    <%- include('chgpwd') %>
    <% break; 
        case "list" : %>
    <%- include('list') %>
    <% break;
        case "search" : %>
    <%- include('search') %>
    <% break;
        case "add" : %>
    <%- include('add') %>
    <% break;
        case "edit" : %>
    <%- include('edit') %>
    <% break;
        } %>
</body>

</html>